@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
}
a {
    display: block;
    text-decoration: none;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px;
}
main {
    height: calc(100vh - 70px);
    display: flex;
    overflow: hidden;
    background-color: #f9f9f9; 
}

.side-bar {
    height: 100%;
    width: 17%;
    background-color: white;
    overflow-y: hidden;
    transition: 0.9s;
    -webkit-transition: 0.9s;
    -moz-transition: 0.9s;
    -ms-transition: 0.9s;
    -o-transition: 0.9s;
}
#menu:hover .side-bar {
    display: block;
}
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo i {
    font-size: 30px;
    cursor: pointer;
}
.form-search {
    display: flex;
}
.form-search form {
    display: flex;
    border: 1px solid #ddd;
    height: 45px;
}
.form-search form input {
    padding: 12px;
    width: 800px;
    border: none;
    height: 100%;
    border-radius: 2px 0 0 2px;
    -webkit-border-radius: 2px 0 0 2px;
    -moz-border-radius: 2px 0 0 2px;
    -ms-border-radius: 2px 0 0 2px;
    -o-border-radius: 2px 0 0 2px;
}
input:focus {
    outline: none;
    border: 1px solid #ddd;
}
.form-search button  {
    width: 60px;
    height: 100%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-search  .material-icons {
   color: rgb(100, 100, 100);
   cursor: pointer;
}
.form-search i {
    margin: 10px 0 0 12px;
    font-size: 26px;
}
.header .icons_right {
    margin-right: 10px;
    display: flex;
}
.header .icons_right i {
    margin-right: 10px;
    display: block;
}
.side-bar .nav {
   width: 100%;
   display: flex;
   flex-direction: column;
   margin-bottom: 20px;
   margin-top: 20px;

} 
.side-bar  .nav-link {
  color: rgb(100, 100, 100);
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 15px 30px;
}
.nav-link:hover {
    background: #e5e5e5;
    cursor: pointer;
}
.active {
    background: #e5e5e5;
}
.side-bar .nav  span {
  margin-left: 15pxpx;
}
.side-bar hr {
    height: 1px;
    background-color: #e5e5e5;
    border: none;
    margin-top: 15px;
    margin-bottom: 15px;
}
.content {
    height: 100%;
    width: 100%;
    background-color: #f9f9f9;
    border-top: 1px solid #ddd;
    padding: 15px 15px;
    overflow-y: scroll;
   
}
.content .videos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.content .videos .box .details {
    display: flex;
    /* align-items: center; */
    gap: 15px;
    margin-top: 10px;
    padding: 10px;
}
.content .videos .box {
    width: 350px;
    margin-bottom: 30px;
    box-shadow: 0 0 0 2px #ddd;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
} 
.content .videos .box:hover:not(.title) {
    transform: scale(1.01);
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
    -ms-transform: scale(1.01);
    -o-transform: scale(1.01);
}
.content .videos .box .image img  {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.content .videos .box .details .author img  {
   width: 40px;
   height: 40px;
   border-radius: 50%;
   -webkit-border-radius: 50%;
   -moz-border-radius: 50%;
   -ms-border-radius: 50%;
   -o-border-radius: 50%;
   object-fit: cover;
}
.content .videos .box .details .title  a , .content .videos .box .details .title p {
   margin-top: 10px;
   text-decoration: none;
   color: rgb(96, 96, 96);
   font-size: 12px;
}

.content .videos .box .details .title {
    color: rgb(3, 3, 3);
    line-height: 18px;
    font-size: 14px;
}
.content .videos .box .details .title h3 {
    color: rgb(3, 3, 3);
    line-height: 18px;
    font-size: 14px;
    margin-bottom: 6px;
}

@media (max-width: 768px) {
    .side-bar {
        width: 34%;
    }
    .form-search{
       display: none;
    }

   
}
@media (max-width: 900px) {
    .form-search form input {
        width: 25rem;
    }
}
@media (max-width: 1288px) {
    .form-search form input {
        width: 25rem;
    }
    .side-bar .nav-link {
          flex-direction: column;
        }
    .side-bar .nav-link span {
        text-align: center;
    }
    
}
